body{
	margin:0px;
	padding: 0px;
}

.check{
	top: -20px;
	position: absolute;
}

.sbar-topic{
	padding-top: 5px;
	display: flex;
	align-items: center;
}

.sbar-topic h6{
	width: 200px;
}

.sbar-topic:hover{
	color: #568203;
}

.sbar-subtopic h6{
	padding-bottom: 5px;
	padding-top: 5px;
}

.sbar-subtopic h6:hover{
	color: #568203;
}

.home-minus ,.people-minus ,.course-minus ,.profile-minus ,.pages-minus{
	display: none;
}

.sbar-subtopic{
	position: relative;
	display: none;
}

.sbar-subtopic h6{
	position: relative;
	left: 20px;
}

.line1{
	width: 100%;
	height: 1px;
	background: lightgrey;
}

.sbar-topic h4{
	position: relative;
	top: 2px;
	left: 90px;
}

.sidebar-menu{
	height: 100vh;
	width: 400px;
	background: white;
	z-index: 5;
	position: fixed;
	box-shadow: 0px 0px 25px #00000020;
	left: -425px;
	top: 0px;
	overflow: auto;
	padding: 40px;
	display: none;
}

.sbar-company-details{
	color: #a9a9a9;
}

.uline{
	height: 1px;
	width: 100%;
	background: lightgrey;
}

.sidebar-logo{
	height: 50px;
	width: 100px;
}

.sidebar-cross{
	left: calc(100% - 50px);
}

.navbar{
	height: 60px;
	width:100%;
	position: fixed;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: context-menu;
	box-shadow: 0px 0px 25px #00000020;
	z-index: 4;
	top: 0px;
}

.shadow-active{
	box-shadow: 0px 0px 25px #00000020;
}

.shadow-none{
	box-shadow: none;
}

.sbar-linksall{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.sbar-link{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: white;
	margin: 10px;
	border: 2px solid lightgrey;
	color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.enroll{
	width: 200px;
	height: 50px;
	background: linear-gradient(to left,#568203,black);
	position: relative;
	left: calc(50% - 100px);
	top: 20px;
	border-radius: 50px;
	padding: 2px;
}

.enroll-sub{
	height: 100%;
	width: 100%;
	border-radius: 50px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.sbar-link:hover{
	color: #568203;
	border: 2px solid #568203;
	opacity: 60%;
}

.nav-image{
	left: 50px;
	position: absolute;
	height: 45px;
	width: 110px;
}

a ,a:hover{
	text-decoration: none;
	color: black;
}

.nav-gradient-heading{
	background: linear-gradient(to right bottom,black,black,#568203,black,black);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.home-text ,.course-text ,.profile-text ,.people-text ,.pages-text ,.sidebar-cross{
	height: 70px;
	display: flex;
	position: relative;
	top: -14px;
	align-items: center;
	padding-top: 5px;
}

.home-img-text{
	height: 30px;
	width: 80%;
	left: 10%;
	position: relative;
	background: #00000099;
	box-shadow: 0px 0px 10px #00000030;
	border-radius: 5px;
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	color: white;
}

.home-img-text h6{
	text-shadow: 0px 0px 10px black;
}

.home-img img:hover ~ .home-img-text ,.home-img-text:hover{
	transform: translateY(-40px);
}

.nav-input ,.nav-input-button{
	height: 50px;
	width: 100%;
	position:relative;
	top: 10px;
	box-shadow: 0px 3px 10px lightgrey;
	border-radius: 5px;
	color: grey;
	margin-bottom: 10px;
}

.sidebar-blur{
	height: 100vh;
	width:calc(100% - 400px);
	background: black;
	position: fixed;
	z-index: 4;
	left:-100%;
	top: 0px;
	opacity: 80%;
	display: none;
}

.search-cardsall{
	margin-top: 40px;
}

.bi-star-fill{
	color: orange;
}

.text-strike{
	text-decoration: line-through;
}

.nav-search-card{
	background: white;
	box-shadow: 0px 0px 10px lightgrey;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.nav-search-card i{
	font-size: 14px;
	position: relative;
	top: -5px;
}

.nav-input{
	padding-left: 15px;
	outline: none;
	border: 1px solid grey;
	font-weight: 700;
}

.nav-input-button{
	border: none;
	font-weight: 1000;
	color: white;
	background: linear-gradient(to left,#568203,black);
}

.search-menu{
	height: 400px;
	width: 100%;
	background: white;
	box-shadow: 0px 0px 25px #00000020;
	overflow:auto;
	padding-bottom: 20px;
	position: fixed;
	top: -450px;
	z-index: 3;
}

.home-menu{
	height: 0px;
	width: 1010px;
	background: linear-gradient(to right bottom,#00000098,black);
	position: absolute;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	top:60px;
	overflow: hidden;
}

.cart-number{
	height: 15px;
	width: 15px;
	background: #568203;
	border-radius: 100%;
	color: white;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -8px;
	left: -5px;
	padding-left: 2px;
}

.search-logo ,.cart-logo ,.profile-logo ,.sidebar-hamburger ,.sidebar-cross ,.cart-x-logo{
	height: 40px;
	width: 40px;
	top: 10px;
	border-radius: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-logo:hover ,.cart-logo:hover ,.profile-logo:hover ,.sidebar-hamburger:hover ,.sidebar-cross:hover ,.cart-x-logo:hover{
	background: #f4f0ec;
	color: #568203;
}

.sidebar-hamburger{
	left: calc(100% - 50px);
	font-size: 25px;
	display: none;
}

.cart-logo{
	left: calc(100% - 100px);
}

.profile-logo{
	left: calc(100% - 200px);
}

.search-logo{
	left: calc(100% - 150px);
}

.soon-tag{
	padding:5px 15px 0px 15px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	height: 20px;
	color: white;
	position: relative;
	top: -2px;
	left: 10px;
	background: linear-gradient(to right,#00000080,#56820380);
}

.course-menu{
	height: 0px;
	width: 700px;
	background: white;
	position: absolute;
	top: 60px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.course-menu-link{
	height: 40px;
	width: 100%;
	background: white;
	border-radius: 5px;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: left;
	padding-top: 3px;
	padding-left: 10px;
}

.course-menu-link:hover{
	background: #00000008;
	color: #568203;
}

.cards-menu{
	height: 0px;
	width: 200px;
	background: white;
	position: absolute;
	top: 60px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.cards-menu-link{
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: left;
	padding-left: 10px;
	height: 40px;
	padding-top: 5px;
	border-radius: 5px;
}

.cards-menu-link:hover{
	background: #00000008;
	color: #568203;
}

.people-menu{
	height: 0px;
	width: 400px;
	background: white;
	position: absolute;
	top: 60px;
	overflow: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pages-menu{
	height: 0px;
	width: 400px;
	background: white;
	position: absolute;
	top: 60px;
	overflow: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pages-image{
	height: 100px;
	width: 100%;
	background-image: url(../img/posters/posterimg69.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	margin-bottom: 15px;
}

.home-text:hover ~ .home-menu ,.home-menu:hover{
	animation: homemenu .2s normal forwards;
}

.course-text:hover ~ .course-menu ,.course-menu:hover{
	animation: coursemenu .2s normal forwards;
}

.profile-text:hover ~ .cards-menu ,.cards-menu:hover{
	animation: profilemenu .2s normal forwards;
}

.people-text:hover ~ .people-menu ,.people-menu:hover{
	animation: peoplemenu .2s normal forwards;
}

.pages-text:hover ~ .pages-menu ,.pages-menu:hover{
	animation: pagesmenu .2s normal forwards;
}

.home-img{
	height: 120px;
	width: 170px;
	background: white;
	position: absolute;
	border-radius: 5px;
	overflow: hidden;
}

.home-img1{
	left: 20px;
	top: 20px;
}

.home-img2{
	left: 220px;
	top: 20px;
}

.home-img3{
	left: 420px;
	top: 20px;
}

.home-img4{
	left: 620px;
	top: 20px;
}

.home-img5{
	left: 820px;
	top: 20px;
}

.home-img6{
	left: 20px;
	top: 170px;
}

.home-img7{
	left: 220px;
	top: 170px;
}

.home-img8{
	left: 420px;
	top: 170px;
}

.home-img9{
	left: 620px;
	top: 170px;
}

.home-img10{
	left: 820px;
	top: 170px;
}

.home-img11{
	left: 20px;
	top: 320px;
}

.home-img12{
	left: 220px;
	top: 320px;
}

.home-img13{
	left: 420px;
	top: 320px;
}

.home-img14{
	left: 620px;
	top: 320px;
}

.home-img15{
	left: 820px;
	top: 320px;
}

.cart-x-logo{
	position: relative;
	left: -10px;
	top: -10px;
}

.cart-item{
	height: 140px;
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
}

.cart-button{
	height: 50px;
	width: 100%;
	border-radius: 5px;
	background: linear-gradient(to left,#568203,black);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding-top: 3px;
}

.cart-button2{
	height: 50px;
	width: 100%;
	border-radius: 5px;
	border: 2px solid grey;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3px;
	color: grey;
}

.cart-sum{
	height: 50px;
	padding-top: 3px;
}

.cart-sum h5{
	width: 330px;
}

.line2{
	height: 2px;
	width: 100%;
	background: black;
}

.cart-data{
	width: 240px;
	height: 100px;
}

.cart-item:hover{
	background: lightgrey;
}

.cart-item img{
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.cart-menu{
	height: 100vh;
	width: 450px;
	background: white;
	box-shadow: 0px 0px 25px #00000020;
	z-index: 4;
	position: fixed;
	overflow: auto;
	top: 0px;
	left: calc(100% + 50px);
	padding: 35px;
}

@keyframes homemenu{
	0%{
		height: 0px;
		opacity: 0%;
	}
	100%{
		height: 460px;
		opacity: 100%;
		box-shadow: 0px 15px 15px #00000020;
	}
}

@keyframes coursemenu{
	0%{
		height: 0px;
		opacity: 0%;
	}
	100%{
		height: 280px;
		opacity: 100%;
		box-shadow: 0px 15px 15px #00000020;
		padding: 15px;
		padding-top: 20px;
	}
}

@keyframes profilemenu{
	0%{
		height: 0px;
		opacity: 0%;
	}
	100%{
		height: 115px;
		opacity: 100%;
		box-shadow: 0px 15px 15px #00000020;
	}
}

@keyframes peoplemenu{
	0%{
		height: 0px;
		opacity: 0%;
	}
	100%{
		padding: 15px;
		height: 195px;
		opacity: 100%;
		box-shadow: 0px 15px 15px #00000020;
	}
}

@keyframes pagesmenu{
	0%{
		height: 0px;
		opacity: 0%;
	}
	100%{
		height: 310px;
		opacity: 100%;
		box-shadow: 0px 15px 15px #00000020;
		padding: 15px;
	}
}

@media(max-width: 1000px){
	.sidebar-hamburger{
		display:inherit;
	}

	.nav-headings{
		display: none;
	}

	.nav-image{
		left: 20px;
	}

	.sidebar-menu ,.sidebar-blur{
		display: initial;
	}
}


















